{% block toolbar %}
    {% set icon %}
    <a href="{{ url("webprofiler.dashboard", {profile: token}, {fragment: 'database'}) }}" title="{{ 'Database'|t }}">
        <img width="20" height="28" alt="Database"
             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAcCAYAAABh2p9gAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQRJREFUeNpi/P//PwM1ARMDlcGogZQDlpMnT7pxc3NbA9nhQKxOpL5rQLwJiPeBsI6Ozl+YBOOOHTv+AOllQNwtLS39F2owKYZ/gRq8G4i3ggxEToggWzvc3d2Pk+1lNL4fFAs6ODi8JzdS7mMRVyDVoAMHDsANdAPiOCC+jCQvQKqBQB/BDbwBxK5AHA3E/kB8nKJkA8TMQBwLxaBIKQbi70AvTADSBiSadwFXpCikpKQU8PDwkGTaly9fHFigkaKIJid4584dkiMFFI6jkTJII0WVmpHCAixZQEXWYhDeuXMnyLsVlEQKI45qFBQZ8eRECi4DBaAlDqle/8A48ip6gAADANdQY88Uc0oGAAAAAElFTkSuQmCC"/>
        <span class="sf-toolbar-info-piece-additional sf-toolbar-status sf-toolbar-status-{{ collector.colorCode }}">{{ collector.querycount }}</span>
        {% if collector.querycount > 0 %}
            <span class="sf-toolbar-info-piece-additional-detail">in {{ '%0.2f ms'|format(collector.time * 1000) }}</span>
        {% endif %}
    </a>
    {% endset %}
    {% set text %}
    <div class="sf-toolbar-info-piece">
        <b>{{ 'DB Queries'|t }}</b>
        <span>{{ collector.querycount }}</span>
    </div>
    <div class="sf-toolbar-info-piece">
        <b>{{ 'Query time'|t }}</b>
        <span>{{ '%0.2f ms'|format(collector.time * 1000) }}</span>
    </div>
    <div class="sf-toolbar-info-piece">
        <b>{{ 'Default database'|t }}</b>
        <span>{{ collector.database.driver }}://{{ collector.database.host }}:{{ collector.database.port }}
            /{{ collector.database.database }}</span>
    </div>
    {% endset %}

    <div class="sf-toolbar-block">
        <div class="sf-toolbar-icon">{{ icon|default('') }}</div>
        <div class="sf-toolbar-info">{{ text|default('') }}</div>
    </div>
{% endblock %}

{% block panel %}
    <script id="database" type="text/template">

        <h2>{{ 'Database'|t }}</h2>

        <% _.each( data.queries, function( item, key ){ %>
        <div class="wp-query wp-query-select" data-wp-query-caller="<%- item.caller.class %>"
             data-wp-query-type="select">
            <div class="wp-query-sql">
                <pre><code class="sql"><%- item.query %></code></pre>
            </div>
            <div class="wp-button wp-query-info-button">Info</div>
            <div style="clear:both"></div>

            <div class="wp-query-info">
                <div class="wp-query-arguments">
                    <table>
                        <% _.each( item.args, function( item, key ){ %>
                        <tr><td><%- key %></td><td><%- item %></td></tr>
                        <% }); %>
                    </table>
                </div>

                <span><b>{{ 'Time'|t }}</b>: <%- item.time * 1000 %></span><br/>
                <span><b>{{ 'Caller'|t }}</b>: <%- item.caller.file %>:<%- item.caller.line %></span><br/>
                <span><b>{{ 'Target'|t }}</b>: <%- item.target %></span><br/>
            </div>

        </div>
        <% }); %>

    </script>

    <script id="wp-query-explain-template" type="text/template">

        <h3>{{ 'Explain'|t }}</h3>
        <table>
            <thead>
            <tr>
                <% _.each(wp.data[1], function(value, key, list) { %>
                <th><%= key %></th>
                <% }); %>
            </tr>
            </thead>
            <% _.each(wp.data, function(value) { %>
            <tr>
                <% _.each(value, function(value2, key, list) { %>
                <td><%= value2 %></td>
                <% }); %>
            </tr>
            <% }); %>
        </table>

    </script>
{% endblock %}
