{% block toolbar %}
    {% set icon %}
    <a href="{{ url("webprofiler.dashboard", {profile: token}, {fragment: 'drupal_extension'}) }}"
       title="{{ 'Extensions'|t }}">
        <img width="20" height="28" alt="{{ 'Extensions'|t }}"
             src="data:image/png;base64,{{ collector.icon }}"/>
        <span class="sf-toolbar-info-piece-additional sf-toolbar-status{% if 150 < collector.countExtensions %} sf-toolbar-status-yellow{% endif %}">{{ collector.countExtensions }}</span>
    </a>
    {% endset %}
    {% set text %}
    <div class="sf-toolbar-info-piece">
        <b>{{ 'Active Modules'|t }}</b>
        <span>{{ collector.countModules }}</span>
    </div>
    <div class="sf-toolbar-info-piece">
        <b>{{ 'Active Themes'|t }}</b>
        <span>{{ collector.countThemes }}</span>
    </div>
    {% endset %}

    <div class="sf-toolbar-block">
        <div class="sf-toolbar-icon">{{ icon|default('') }}</div>
        <div class="sf-toolbar-info">{{ text|default('') }}</div>
    </div>
{% endblock %}

{% block panel %}
    <script id="drupal_extension" type="text/template">
        <h2 class="panel__title">{{ 'Extensions'|t }}</h2>
        <div class="panel__container">

        </div>
    </script>
{% endblock %}
