{% block toolbar %}
    {% set icon %}
    <a href="{{ url("webprofiler.dashboard", {profile: token}, {fragment: "mail"}) }}" title="{{ 'Mail'|t }}">
        <img height="28" alt="{{ 'Mail'|t }}"
             src="data:image/png;base64,{{ collector.icon }}"/>
        <span class="sf-toolbar-status">{{ collector.mailsent }}</span>
    </a>
    {% endset %}
    {% set text %}
    <div class="sf-toolbar-info-piece">
        <b>Mail sent</b>
        <span>{{ collector.mailsent }}</span>
    </div>
    {% endset %}

    <div class="sf-toolbar-block">
        <div class="sf-toolbar-icon">{{ icon|default('') }}</div>
        <div class="sf-toolbar-info">{{ text|default('') }}</div>
    </div>
{% endblock %}

{% block panel %}
    <script id="mail" type="text/template">
        <h2 class="panel__title">{{ 'Mail dashboard'|t }}</h2>
        <div class="panel__container">
            <table class="table--fixed">
                <thead>
                <tr>
                    <th>{{ 'Subject'|t }}</th>
                    <th>{{ 'From'|t }}</th>
                    <th>{{ 'To'|t }}</th>
                    <th>{{ 'Mail class (plugin)'|t }}</th>
                </tr>
                </thead>

                <tbody>
                <% _.each( data.mail, function( item ) { %>
                <tr>
                    <td><%- item.message.subject %></td>
                    <td><%- item.message.from %></td>
                    <td><%- item.message.to %></td>
                    <td><%= Drupal.webprofiler.helpers.classLink(item.plugin) %> (<%- item.plugin.id %>)</td>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </script>
{% endblock %}
