{% block toolbar %}
    {% set icon %}
    <a href="{{ url("webprofiler.dashboard", {profile: token}, {fragment: 'services'}) }}" title="{{ 'Services'|t }}">
        <img width="20" height="28" alt="State"
             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAcCAYAAACOGPReAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQVJREFUeNrkVe0NgjAQBeMAdYO6AWxQNtANGEFHcALZANyADegGsIFsIBvgu6Q/LtWmxdTEjyYvd6Hw8t5de6TzPCex1yp5w/pz0rVrQymVIXSAACqt9TGG0p0hpHWIZb9lebWENOXn1FgWbL8GJHACNHs+ohyjlxSEZPEcKGYC6SbEvljgUHzEOR3IXiiB6YOTlLqdo1Y54tZHDLIauCHtETtn962P6EUVqhhi0gelIJEEk1MjMg9Py9xol/0SuBqFva/DULY3ZSqQF767v8TyZKv83tFXWVaEufsUG+DCr2nwQLGOlGQNizZPy3fMU16K5uV5+qQEpFTC+hCN9Pd/0XcBBgBxwVqjDkAznAAAAABJRU5ErkJggg=="/>
        <span class="sf-toolbar-info-piece-additional sf-toolbar-status">{{ collector.countInitializedServices }}</span>
    </a>
    {% endset %}
    {% set text %}
    <div class="sf-toolbar-info-piece">
        <b>{{ 'Initialized'|t }}</b>
        <span>{{ collector.countInitializedServices }} ({{ collector.countInitializedServicesWithoutWebprofiler }}
            )</span>
    </div>
    <div class="sf-toolbar-info-piece">
        <b>{{ 'Available'|t }}</b>
        <span>{{ collector.countServices }}</span>
    </div>
    {% endset %}

    <div class="sf-toolbar-block">
        <div class="sf-toolbar-icon">{{ icon|default('') }}</div>
        <div class="sf-toolbar-info">{{ text|default('') }}</div>
    </div>
{% endblock %}

{% block panel %}
    <script id="services" type="text/template">

        <h2>{{ 'Services'|t }}</h2>

        <form>
            <label for="edit-sid">{{ 'Id'|t }}</label> <input id="edit-sid" type="text"/>
            <label for="edit-class">{{ 'Class'|t }}</label><input id="edit-class" type="text"/>
            <label for="edit-tags">{{ 'Tags'|t }}</label><input id="edit-tags" type="text"/>
            <label for="edit-initialized">{{ 'Initialized'|t }}</label><select id="edit-initialized">
                <option value="-1">{{ 'Any'|t }}</option>
                <option value="1">{{ 'Yes'|t }}</option>
                <option value="0">{{ 'No'|t }}</option>
            </select>
            <input id="edit-service-filter" type="submit" value="{{ 'Filter'|t }}">
        </form>

        <table id="wp-service-table">
            <thead>
            <tr>
                <th>{{ 'Id'|t }}</th>
                <th>{{ 'Class'|t }}</th>
                <th>{{ 'Initialized'|t }}</th>
                <th>{{ 'Tags'|t }}</th>
                <th>{{ 'Depends on'|t }}</th>
                <th>{{ 'Count'|t }}</th>
                <th>{{ 'Time'|t }}</th>
            </tr>
            </thead>

            <tbody>
            <% _.each( data.services, function( item, key ){ %>

            <% clazz = Drupal.webprofiler.helpers.classLink({"file" : item.value.file, "class" : item.value.class}) %>
            <% initialized_value = item.initialized %>
            <% initialized = (initialized_value) ? "{{ 'Yes'|t }}" : "{{ 'No'|t }}" %>
            <% depends = _.map(item.outEdges, function(el) { return el.id; }).join(', ') %>
            <% tags = _.map(item.value.tags, function(el, key) { return key; }).join(', ') %>

            <tr data-wp-service-id="<%- key %>" data-wp-service-class="<%- item.value.class %>"
                data-wp-service-tags="<%- tags %>" data-wp-service-initialized="<%- initialized_value %>">
                <td><%- key %></td>
                <td><%= clazz%></td>
                <td><%- initialized %></td>
                <td><%= tags %></td>
                <td><%- depends %></td>

                <% if(item.time){ %>
                <td><%- item.time.count %></td>
                <td><%- item.time.time %></td>
                <% } %>

            </tr>

            <% }); %>
            </tbody>
        </table>

        <ul>
            <% _.each( data.http_middleware, function( item, key ){ %>
            <li><%- key %> (priority: <%- item.value.tags.http_middleware[0].priority %>)</li>
            <% }); %>
        </ul>

    </script>
{% endblock %}
