{% block toolbar %}
    {% set duration = collector.events|length ? '%.0f ms'|format(collector.duration) : 'n/a' %}
    {% set memory = '%.1f MB'|format(collector.memory / 1024 / 1024) %}
    {% set total_memory = collector.memoryLimit == -1 ? '&infin;' : '%.1f MB'|format(collector.memoryLimit / 1024)|escape %}
    {% set icon %}
    <a href="{{ url("webprofiler.dashboard", {profile: token}, {fragment: "time"}) }}" title="{{ 'Timeline'|t }}">
        <img width="20" height="28" alt="{{ 'Timeline'|t }}"
             src="data:image/png;base64,{{ collector.icon }}"/>
        <span>{{ duration }} / {{ memory }}</span>
    </a>
    {% endset %}
    {% set text %}
    <div class="sf-toolbar-info-piece">
        <b>{{ 'Total time'|t }}</b>
        <span>{{ duration }}</span>
    </div>
    <div class="sf-toolbar-info-piece">
        <b>{{ 'Memory'|t }}</b>
        <span>{{ memory }} / {{ total_memory }}</span>
    </div>
    {% endset %}

    <div class="sf-toolbar-block">
        <div class="sf-toolbar-icon">{{ icon|default('') }}</div>
        <div class="sf-toolbar-info">{{ text|default('') }}</div>
    </div>
{% endblock %}

{% block panel %}
    <script id="time" type="text/template">
        <h2 class="panel__title">{{ 'Timeline'|t }}</h2>
        <div class="panel__container">
            <p><span>{{ 'Total time'|t }}:</span> {{ collector.duration }}ms</p>
            <p><span>{{ 'Initialization time'|t }}:</span> {{ collector.initTime }}m</p>

            <h3>
                {{ "Main Request"|t }}
                <small>
                    - {{ collector.events.__section__.duration }} ms
                </small>
            </h3>

            <div class="sf-profiler-timeline">
                <div class="legends">
                    <span class="default">default</span>
                    <span class="section">section</span>
                    <span class="event_listener">event_listener</span>
                    <span class="event_listener_loading">event_listener_loading</span>
                    <span class="template">template</span>
                </div>

                <div id="timeline" style="margin-top: 20px"></div>
            </div>
        </div>

    </script>
{% endblock %}
