{% block toolbar %}
    {% set time = collector.templatecount ? '%0.0f ms'|format(collector.time) : 'n/a' %}
    {% set icon %}
    <a href="{{ url("webprofiler.dashboard", {profile: token}, {fragment: "twig"}) }}" title="{{ 'Twig'|t }}">
        <img height="28" alt="{{ 'Twig'|t }}"
             src="data:image/png;base64,{{ collector.icon }}"/>
        <span class="sf-toolbar-status">{{ time }}</span>
    </a>
    {% endset %}
    {% set text %}
    <div class="sf-toolbar-info-piece">
        <b>Render Time</b>
        <span>{{ time }}</span>
    </div>
    <div class="sf-toolbar-info-piece">
        <b>Template Calls</b>
        <span>{{ collector.templatecount }}</span>
    </div>
    <div class="sf-toolbar-info-piece">
        <b>Block Calls</b>
        <span>{{ collector.blockcount }}</span>
    </div>
    <div class="sf-toolbar-info-piece">
        <b>Macro Calls</b>
        <span>{{ collector.macrocount }}</span>
    </div>
    {% endset %}

    <div class="sf-toolbar-block">
        <div class="sf-toolbar-icon">{{ icon|default('') }}</div>
        <div class="sf-toolbar-info">{{ text|default('') }}</div>
    </div>
{% endblock %}

{% block panel %}
    <script id="twig" type="text/template">
        <h2 class="panel__title">{{ 'Twig'|t }}</h2>
        <div class="panel__container">

        </div>
    </script>
{% endblock %}
